.about-container {
  background-color: rgba(77, 107, 89, 0.987);
  position: absolute;
  top: 80px;
  bottom: 0px;
}

.path-name-container {
  display: flex;
  background-color: #d3d3d3;
  height: 140px;
  font-size: 35px;
  color: black;
  align-items: center;
  padding-left: 30px;
}
.pathname {
  color: black;
}

.about-me-container {
  font-size: 23px;
  padding-left: 5%;
  background-color: rgba(77, 107, 89, 0.987);
  padding-right: 5%;
  margin-right: 5%;
  margin-left: 15%;
  height: auto;
  color: white;
}
@media only screen and (max-width: 650px) {
  .social-links {
    display: none;
  }
  .about-me-container {
    margin: 0%;
  }
  .path-name-container {
    /* display: none; */
  }
}
