body {
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: black;
  display: flex;
  height: 80px;
  width: 100%;
}
.left-nav {
  flex: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.links-container {
  max-height: 80px;
  padding-left: 15px;
  display: flex;
}
.links {
  color: white;
  font-size: 25px;
  padding: 18px;
}
.right-nav {
  flex: 50%;
  color: white;
  display: flex;
  justify-content: flex-end;
  margin-right: 18px;
}
