.social-media-links {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 2.5%;
  left: 0;
  margin-left: 5%;
}
@media only screen and (max-width: 650px) {
  .social-media-links {
    display: none;
  }
}
